name: Build & Release
on:
    push:
        tags:
            - "v*.*.*"
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install dependencies
              run: npm ci

            - name: Build
              run: npm run build

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  draft: true
                  generate_release_notes: true
                  files: dist/*.js
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}